<div class="content-wrapper">
  <div>
    <toaster-container [toasterconfig]="config1"></toaster-container>
  </div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Package
      <small>Add/Edit Package</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="package/package_setup">Package</li>
    </ol>
  </section>

  <section class="content">

    <div class="package">
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <a class="btn bg-red new-item" (click)="show=!show">Add New</a>
          <!-- <a data-toggle="modal" data-target="#purchase-import" class="btn btn-indigo horizontal-margin">
            <i aria-hidden="true" class="fa fa-upload"></i> Import Items</a> -->
        </div>
        <!-- <div class="col-md-6 dropdown margin-bottom ">
          <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle pull-right horizontal-margin">Export
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="#">Excel</a>
            </li>
            <li>
              <a href="#">PDF</a>
            </li>
          </ul>
          <a href="#" download="" class="btn btn-primary  horizontal-margin pull-right">
            <strong>
              <i aria-hidden="true" class="fa fa-file-excel-o"></i> Sample</strong>
          </a>
        </div> -->
      </div>
      <div id="PackageFormDiv1" *ngIf="show" @slideIn>
        <form [formGroup]="packageSetupForm" (ngSubmit)="onSubmit()">
          <div class="row customer-box">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="title">Name</label>
                            <label>
                              <span style="color: red;">*</span>
                            </label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-gift"></i>
                              </div>
                              <input name="package" formControlName="packageName" placeholder="Package Name" class="form-control input-sm">
                            </div>
                            <show-errors [control]="packageSetupForm.controls.packageName"></show-errors>
                          </div>

                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="title">Valid For</label>
                            <label>
                              <span style="color: red;">*</span>
                            </label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="icon ion-bag"></i>
                              </div>
                              <input name="days" formControlName="validFor" placeholder="Number of day" class="form-control input-sm">
                            </div>
                            <show-errors [control]="packageSetupForm.controls.validFor"></show-errors>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="title">Package Commission</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-money"></i>
                              </div>
                              <input name="commission" formControlName="packageCommission" placeholder="Package Commission" class="form-control input-sm">
                            </div>
                            <show-errors [control]="packageSetupForm.controls.packageCommission"></show-errors>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <h4>
                            Service Included In Package
                          </h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="title">Category</label>
                            <label></label>
                            <select tabindex="-1" class="form-control input-sm" formControlName="parentCategory" (change)="onParentCategoryChange($event.target.value)"
                              aria-hidden="true">
                              <option value="0" selected="selected">Please Select</option>
                              <option *ngFor="let item of parentCategories" class="" value="{{item.id}}">{{item.categorie}}</option>

                            </select>

                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="title">Sub Category</label>
                            <label></label>
                            <select required="" tabindex="-1" formControlName="category" class="form-control input-sm" aria-hidden="true">
                              <option value="" selected="selected">Please Select</option>
                              <option *ngFor="let item of childCategories" class="" value="{{item.id}}">{{item.categorie}}</option>
                            </select>

                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="title">Service/Item</label>
                            <label></label>
                            <input ngui-auto-complete [source]="searchItem.bind(this)" [list-formatter]="itemNameFormatter" value-property-name="id"
                              close-on-focus='false' match-formatted='true' display-property-name="itemName" placeholder="Search Item Name"
                              (valueChanged)="searchItemSelected($event)" [ngModel]="itemSearch" [ngModelOptions]="{standalone: true}"
                              class="form-control input-sm" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="title">Quantity</label>
                            <label>
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="icon ion-ios-pricetags"></i>
                                </div>
                                <input name="quantity" (change)="quantityChange()" formControlName="quantity" placeholder="Quantity" class="input-sm form-control input">
                              </div>
                              <show-errors [control]="packageSetupForm.controls.quantity"></show-errors>
                            </label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="title">Rate</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-money"></i>
                              </div>
                              <input name="rate" (change)="quantityChange()" formControlName="rate" placeholder="Rate" class="input-sm form-control">
                            </div>
                            <show-errors [control]="packageSetupForm.controls.rate"></show-errors>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group ">
                            <label for="title">Amount</label>
                            <label></label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-money"></i>
                              </div>
                              <input name="amount" formControlName="amount" placeholder="Amount" class="form-control input-sm">
                            </div>
                            <show-errors [control]="packageSetupForm.controls.amount"></show-errors>
                          </div>
                        </div>
                        <div class="col-md-2" style="margin-top:2%">
                          <a class="btn bg-purple " (click)="addArrayList()">
                            <i class="fa fa-plus"></i> Add</a>
                        </div>
                      </div>

                      <div id="itemlistTable">
                        <div class="row">
                          <div class="col-md-12">
                            <table class="table table-bordered table-striped datatable-order dataTable" width="100%">
                              <thead>
                                <tr>
                                  <th style="width: 7px;" class="sorting_desc">#</th>
                                  <th class="sorting">Category</th>
                                  <th class="sorting">Service</th>
                                  <th class="sorting">Qty/Service</th>
                                  <th class="sorting">Rate/Service</th>
                                  <th class="sorting">Cost</th>
                                  <th class="sorting">Action</th>

                                </tr>
                              </thead>
                              <tbody formArrayName="packageItems">
                                <tr *ngIf="serviceList === null || serviceList.length ===0 ">
                                  <td colspan="7" class="text-center">No Records</td>
                                </tr>
                                <tr *ngFor="let itmes of packageSetupForm.get('packageItems')['controls'];let i=index">
                                  <ng-template [ngIf]="itmes.value['deleted']==false">
                                    <td> {{ i+1 }} </td>
                                    <td>{{ itmes.value['itemObj']['category']['categorie'] }}</td>
                                    <td>{{ itmes.value['itemObj']['itemName'] }}</td>
                                    <td>{{ itmes.value['quantity'] }} </td>
                                    <td>{{ itmes.value['rate'] }} </td>
                                    <td>{{ itmes.value['amount'] }} </td>
                                    <td style="width:8%;">
                                      <a class="btn btn-xs btn-info btn-circle" (click)="editService(i)">
                                        <i aria-hidden="true" class="fa fa-pencil"></i>
                                      </a>
                                      <a (click)="removeService(i)" class="btn btn-xs btn-danger btn-circle ">
                                        <i aria-hidden="true" class="fa fa-trash"></i>
                                      </a>
                                    </td>
                                  </ng-template>
                                </tr>
                                <!-- <tr>
                                  <td>1</td>
                                  <td>AQUA THERAPY</td>
                                  <td>my Service</td>
                                  <td>10</td>
                                  <td>100</td>
                                  <td>800</td>
                                </tr> -->
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="title">Total Package Cost</label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-money"></i>
                          </div>
                          <input name="totalcost" formControlName="totalCost" placeholder="Total Package Cost" class="input-sm form-control">
                        </div>
                        <show-errors [control]="packageSetupForm.controls.totalCost"></show-errors>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="form-group">
                    <button id="add-button" type="submit" class="btn btn-primary ">
                      <i class="fa fa-floppy-o"></i> {{formEditMode!=true ? 'Save' : 'Update'}} </button>
                    <a class="btn btn-cyan" (click)="reset()">
                      <i class="fa fa-refresh"></i> Reset</a>
                    <a class="btn btn-danger" (click)="resetForm()">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" *ngIf="!show" @slideIn>
        <div class="col-md-12 table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                  <label>Show
                    <select name="DataTables_Table_0_length" [(ngModel)]="ddlitemsPerPage" (change)="setItemsPerPage()" aria-controls="DataTables_Table_0"
                      class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div id="DataTables_Table_0_filter" class="dataTables_filter pull-right">
                  <label>Search:
                    <input type="search" #box (keyup.enter)="onEnter(box.value)" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped datatable-paging-false dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                  <thead>
                    <tr role="row">
                      <th style="width: 5%;">
                        <a class="text-white" [routerLink]="['/package/package_setup']" [queryParams]="sortDir == 'desc' && sortCol =='id' ?{sort:'id', dir:'asc' }:{sort:'id', dir:'desc'} ">#</a>
                        <i class="{{ sortCol == 'id' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/package/package_setup']" [queryParams]="sortDir == 'desc' && sortCol =='packageName' ?{sort:'packageName', dir:'asc' }:{sort:'packageName', dir:'desc'} ">Package Name</a>
                        <i class="{{ sortCol == 'packageName' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/package/package_setup']" [queryParams]="sortDir == 'desc' && sortCol =='validFor' ?{sort:'validFor', dir:'asc' }:{sort:'validFor', dir:'desc'} ">
                          Valid Days</a>
                        <i class="{{ sortCol == 'vaildFor' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/package/package_setup']" [queryParams]="sortDir == 'desc' && sortCol =='packageCommission' ?{sort:'packageCommission', dir:'asc' }:{sort:'packageCommission', dir:'desc'} ">
                          Commission</a>
                        <i class="{{ sortCol == 'packageCommission' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/package/package_setup']" [queryParams]="sortDir == 'desc' && sortCol =='totalCost' ?{sort:'totalCost', dir:'asc' }:{sort:'totalCost', dir:'desc'} ">
                          Total Cost</a>
                        <i class="{{ sortCol == 'totalCost' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th style="width: 8%" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="packageSetup!=null &&  packageSetup.length==0">
                      <td colspan="9" class="text-center">No Packages Available</td>
                    </tr>
                    <tr *ngFor="let package of packageSetup | paginate: { itemsPerPage: itemsPerPage, currentPage: pageIndex , totalItems: totalItems};let
                    i=index;">
                      <td class="sorting_1">{{ package.id }}</td>

                      <td>{{ package.packageName }}</td>
                      <td>{{ package.validFor }}</td>
                      <td>{{ package.packageCommission }}</td>
                      <td>{{ package.totalCost }}</td>
                      <td style="width:8%">
                        <a href="javascript:void(0)" class="btn btn-xs btn-info btn-circle" (click)="getPackageToEdit(package.id)">
                          <i aria-hidden="true" class="fa fa-pencil"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-danger btn-circle " (click)="deletePackage(package.id)">
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
