<div class="content-wrapper">
  <div>
    <toaster-container [toasterconfig]="config1"></toaster-container>
  </div>

  <section class="content-header">
    <h1>
      Expiry stock
      <small> Add/Edit Expiry stock </small>
    </h1>

    <ol class="breadcrumb">
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="active">Expiry stock</li>
    </ol>

  </section>
  <section class="content">
    <div class="damage_stock">
      <div class="row">
        <div class="col-md-12 margin-bottom">
          <a class="btn bg-red new-customer" (click)="show =!show">Add New</a>
        </div>
      </div>
      <div id="damageFormDiv" *ngIf="show" @slideIn>
        <form [formGroup]="expiryForm">
          <div class="row customer-box">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="mrn_no">Damage Id. :</label>
                        <span>{{ nextRecordId }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">Slip date
                          <span style="color: red;">*</span>
                        </label>
                        <my-date-picker name="slipDate" formControlName="slip_date" id="slipDate" placeholder="Slip Date" [options]="myDatePickerOptions"
                          [(ngModel)]="model"></my-date-picker>
                          <show-errors [control]="expiryForm.controls.slip_date"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="">( Damage / Expiry )
                          <span style="color: red;">*</span>
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-list"></i>
                          </div>
                          <select name="item_id" formControlName="type" class="form-control input-sm" (change)="typeChange()">
                            <option value="0">Damage Item</option>
                            <option value="1">Expiry Item</option>
                          </select>
                        </div>
                        <show-errors [control]="expiryForm.controls.type"></show-errors>                        
                      </div>
                    </div>
                  </div>
                  <div class="box" style="border-top: 0px;">
                    <div class="box-body" style="margin: 1px; border: 2px solid rgb(200, 200, 200); border-radius: 5px;">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-8">
                              <!-- this for Expiry item  -->
                              <div class="row" *ngIf="this.expiryForm.get('type').value == 1">
                                <div class=" col-md-3 ">
                                  <div class="form-group ">
                                    <label for=" ">MRN No.
                                      <span style="color: red; ">*</span>
                                    </label>
                                    <div class="input-group ">
                                      <input type="search" formControlName="mrn_no" #mrnbox (keyup.enter)="getAllItemByMrn_no(mrnbox.value)" placeholder="MRN No." class="form-control input-sm">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-5 ">
                                  <div class="form-group ">
                                    <label for=" ">Item Name
                                      <span style="color: red; ">*</span>
                                    </label>
                                    <div class="input-group ">
                                      <div class="input-group-addon loader ">
                                        <i class="icon ion-bag "></i>
                                      </div>
                                        <select tabindex="-1 " formControlName="item_id" class="form-control input-sm " aria-hidden="true" (change)="selecteditem($event.target.value)">
                                          <option value="0">Please Select</option>
                                          <option class="" *ngFor="let item of mrn_noItemList" value="{{item.id}}">{{ item.itemName }}</option>
                                        </select>
                                    </div>
                          <show-errors [control]="expiryForm.controls.item_id"></show-errors>
                                    
                                  </div>
                                </div>
                                <div class="col-md-4 ">
                                  <div class="form-group ">
                                    <label>Barcode
                                      <span style="color: red; ">*</span>
                                    </label>
                                    <div class="input-group ">
                                      <div class="input-group-addon loader ">
                                        <i class="icon ion-bag "></i>
                                      </div>
                                     
                                        <select tabindex="-1 " formControlName="item_id" class="form-control input-sm " aria-hidden="true" (change)="selecteditem($event.target.value)">
                                          <option value="0">Please Select</option>
                                          <option class="" *ngFor="let item of mrn_noItemList" value="{{item.id}}">{{ item.barcode }}</option>
                                        </select>
                                    </div>
                          <show-errors [control]="expiryForm.controls.item_id"></show-errors>
                                    
                                  </div>
                                </div>
                              </div>

                              <!-- this for damage item  -->
                              <div class="row " *ngIf="this.expiryForm.get('type').value == 0">
                                <div class="col-md-6 ">
                                  <div class="form-group ">
                                    <label for=" ">Item Name
                                      <span style="color: red; ">*</span>
                                    </label>
                                    <div class="input-group ">
                                      <div class="input-group-addon loader ">
                                        <i class="icon ion-bag "></i>
                                      </div>
                                      <div class="display-block-input ">
                                        <input ngui-auto-complete [source]="searchItemName.bind(this)" [list-formatter]="itemNameFormatter" value-property-name="id"
                                          close-on-focus='false' match-formatted='true' display-property-name="itemName" placeholder="Search Item Name"
                                          (valueChanged)="searchItemSelected($event)" [ngModel]="itemSearchName" [ngModelOptions]="{standalone: true}"
                                          class="form-control input-sm" autocomplete="off">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6 ">
                                  <div class="form-group ">
                                    <label>Barcode
                                      <span style="color: red; ">*</span>
                                    </label>
                                    <div class="input-group ">
                                      <div class="input-group-addon loader ">
                                        <i class="fa fa-barcode "></i>
                                      </div>
                                      <div class="display-block-input ">
                                          <input ngui-auto-complete [source]="searchItemBarcode.bind(this)" [list-formatter]="itemBarcodeFormatter" value-property-name="id"
                                          close-on-focus='false' match-formatted='true' display-property-name="barcode" placeholder="Search Item Name"
                                          (valueChanged)="searchItemSelected($event)" [ngModel]="itemSearchBarcode" [ngModelOptions]="{standalone: true}"
                                          class="form-control input-sm" autocomplete="off">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row ">
                                <div class="col-md-4 ">
                                  <div class="form-group ">
                                    <label for=" ">Rate
                                      <span style="color: red; ">*</span>
                                    </label>
                                    <div class="input-group ">
                                      <div class="input-group-addon ">
                                        <i class="fa fa-money "></i>
                                      </div>
                                      <input disabled="true" type="text " name="rate " formControlName="rate" placeholder="Rate " class="form-control
                              input-sm">
                                    </div>
                          <show-errors [control]="expiryForm.controls.rate"></show-errors>
                                    
                                  </div>
                                </div>
                                <div class="col-md-4 ">
                                  <div class="form-group ">
                                    <label for=" ">Stock
                                      <span style="color: red; ">*</span>
                                    </label>
                                    <div class="input-group ">
                                      <div class="input-group-addon ">
                                        <i class="fa fa-stack-overflow "></i>
                                      </div>
                                      <input type="text" disabled="true" name="stock" placeholder="Stock" class="form-control
                              input-sm " formControlName="totalStock" (change)="StockChange()">
                                    </div>
                          <show-errors [control]="expiryForm.controls.totalStock"></show-errors>
                                    
                                  </div>
                                </div>
                                <div class="col-md-4 ">
                                  <div class="form-group ">
                                    <label for=" ">Qty
                                      <span style="color: red; ">*</span>
                                    </label>
                                    <div class="input-group ">
                                      <div class="input-group-addon ">
                                        <i class="icon ion-bag "></i>
                                      </div>
                                      <input type="text " name="qty " placeholder="Qty" maxlength="6
                              " class="form-control input-sm" formControlName="quantity" (change)="quantityChange()">
                                    </div>
                          <show-errors [control]="expiryForm.controls.quantity"></show-errors>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 ">
                              <div class="form-group ">
                                <label for=" ">Remark
                                  <span style="color: red; ">*</span>
                                </label>
                                <textarea name="remark " rows="4 " placeholder="Remark" class="form-control
                              input-sm fix-textarea " formControlName="remark"></textarea>
                              </div>
                          <show-errors [control]="expiryForm.controls.remark"></show-errors>
                            </div>
                          </div>
                          <div class="row btn-margin">
                            <div class="col-md-2">
                              <a class="btn btn-primary btn-sm" (click)="addFormArrayList()">
                                <i class="fa fa-plus"></i> Add Item</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 table-responsive ">
                        <table class="table table-bordered table-striped ">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Barcode</th>
                              <th>Item Name</th>
                              <th>Qty</th>
                              <th>C.P.</th>
                              <th>Rate</th>
                              <th>Amt</th>
                              <th>Remark</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="itemList">

                            <tr *ngIf="serviceList === null || serviceList.length ===0 ">
                              <td colspan="9" class="text-center">No Records</td>
                            </tr>
                            <tr *ngFor="let itmes of expiryForm.get('itemList')['controls'];let i=index">
                              <ng-template [ngIf]="itmes.value['deleted']==false">
                                <td> {{ i+1 }} </td>
                                <td>{{ itmes.value['itemObj']['barcode'] }}</td>
                                <td>{{ itmes.value['itemObj']['itemName'] }}</td>
                                <td>{{ itmes.value['quantity'] }} </td>
                                <td>{{ itmes.value['cp'] }} </td>
                                <td>{{ itmes.value['rate'] }} </td>
                                <td>{{ itmes.value['amt'] }} </td>
                                <td>{{ itmes.value['remark'] }} </td>
                                <td style="width:8%;">
                                  <a class="btn btn-xs btn-info btn-circle" (click)="editService(i)">
                                    <i aria-hidden="true" class="fa fa-pencil"></i>
                                  </a>
                                  <a (click)="removeService(i)" class="btn btn-xs btn-danger btn-circle ">
                                    <i aria-hidden="true" class="fa fa-trash"></i>
                                  </a>
                                </td>
                              </ng-template>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-md-4 ">
                      <div class="form-group ">
                        <label for=" ">Enterd By
                          <span style="color: red; ">*</span>
                        </label>
                        <div class="input-group ">
                          <div class="input-group-addon ">
                            <i class="fa fa-user "></i>
                          </div>
                          <select name="item_id" class="form-control input-sm" formControlName="enterd_by">
                              <option value="0">Please Select</option>
                              <option class="" *ngFor="let user of users" value="{{user.id}}">{{ user.username }}</option>
                          </select>
                        </div>
                        <show-errors [control]="expiryForm.controls.enterd_by"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-4 ">
                      <div class="form-group ">
                        <label for=" ">Approx. value of CP
                          <span style="color: red; ">*</span>
                        </label>
                        <input type="text " name="approx_value_of_cp " placeholder="Approx. value of CP " formControlName="approx_value_of_cp" class="form-control input-sm ">

                      </div>
                      <show-errors [control]="expiryForm.controls.approx_value_of_cp"></show-errors>
                    </div>
                    <div class="col-md-4 ">
                      <div class="form-group ">
                        <label for=" ">Approx. value of SP
                          <span style="color: red; ">*</span>
                        </label>
                        <input type="text " name="approx_value_of " placeholder="Approx. value of SP " formControlName="approx_value_of" class="form-control input-sm ">
                      </div>
                      <show-errors [control]="expiryForm.controls.approx_value_of"></show-errors>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-md-4 " *ngIf="formEditMode">
                      <div class="form-group ">
                        <label for="title ">Remark</label>
                        <label>
                          <span style="color: red; ">*</span>
                        </label>
                        <textarea name="remark " rows="4 " formControlName="updateremark" placeholder="Remark " class="form-control input-sm fix-textarea "></textarea>
                        <show-errors [control]="expiryForm.controls.updateremark"></show-errors>
                      </div>
                    </div>
                  </div>
                  <div class="box-footer no-shadow ">
                    <div class="pull-left ">
                      <button class="btn btn-primary" type="button" (click)="onSubmit()">
                        <i aria-hidden="true " class="fa fa-floppy-o "></i>{{formEditMode!=true ? 'Save' : 'Update'}}</button>
                      <a class="btn btn-cyan " (click)="reset()">
                        <i aria-hidden="true " class="fa fa-refresh " ></i> Reset</a>
                      <a class="btn btn-danger add-bank " (click)="resetForm()">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row " *ngIf="!show" @slideIn>
        <div class="col-md-12 table-responsive damage-stock-table ">
          <div id="DataTables_Table_0_wrapper " class="dataTables_wrapper form-inline dt-bootstrap ">
            <div class="row ">
              <div class="col-sm-6 ">
                <div class="dataTables_length " id="DataTables_Table_0_length ">
                  <label>Show
                    <select name="DataTables_Table_0_length " [(ngModel)]="ddlitemsPerPage" (change)="setItemsPerPage()" aria-controls="DataTables_Table_0 "
                      class="form-control input-sm ">
                      <option value="10 ">10</option>
                      <option value="25 ">25</option>
                      <option value="50 ">50</option>
                      <option value="100 ">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6 ">
                <div id="DataTables_Table_0_filter " class="dataTables_filter pull-right">
                  <label>Search:
                    <input type="search " #box (keyup.enter)="onEnter(box.value)" class="form-control input-sm " placeholder="" aria-controls="DataTables_Table_0">
                  </label>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-sm-12 ">
                <table class="table table-bordered table-striped datatable1 dataTable " id="DataTables_Table_0 " role="grid
                              " aria-describedby="DataTables_Table_0_info ">
                  <thead>
                    <tr role="row ">
                      <th>
                        <a class="text-white" [routerLink]="['/stock/expiry_stock']" [queryParams]="sortDir == 'desc' && sortCol =='id' ?{sort:'id', dir:'asc' }:{sort:'id', dir:'desc'} ">#</a>
                        <i class="{{ sortCol == 'id' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                          <a class="text-white" [routerLink]="['/stock/expiry_stock']" [queryParams]="sortDir == 'desc' && sortCol =='slip_date' ?{sort:'slip_date', dir:'asc' }:{sort:'slip_date', dir:'desc'} "> Slip date</a>
                          <i class="{{ sortCol == 'slip_date' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                       </th>
                      <th>
                          <a class="text-white" [routerLink]="['/stock/expiry_stock']" [queryParams]="sortDir == 'desc' && sortCol =='type' ?{sort:'type', dir:'asc' }:{sort:'type', dir:'desc'} "> ( Damage / Expiry )</a>
                          <i class="{{ sortCol == 'type' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                        </th>
                      <th>
                          <a class="text-white" [routerLink]="['/stock/expiry_stock']" [queryParams]="sortDir == 'desc' && sortCol =='enterd_by' ?{sort:'enterd_by', dir:'asc' }:{sort:'enterd_by', dir:'desc'} "> Enterd By</a>
                          <i class="{{ sortCol == 'enterd_by' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                        </th>
                      <th>
                          <a class="text-white" [routerLink]="['/stock/expiry_stock']" [queryParams]="sortDir == 'desc' && sortCol =='approx_value_of_cp' ?{sort:'approx_value_of_cp', dir:'asc' }:{sort:'approx_value_of_cp', dir:'desc'} "> Approx. value of CP</a>
                          <i class="{{ sortCol == 'approx_value_of_cp' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                       </th>
                      <th>
                          <a class="text-white" [routerLink]="['/stock/expiry_stock']" [queryParams]="sortDir == 'desc' && sortCol =='approx_value_of' ?{sort:'approx_value_of', dir:'asc' }:{sort:'approx_value_of', dir:'desc'} ">Approx. value of SP</a>
                          <i class="{{ sortCol == 'approx_value_of' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                       </th>
                      <th style="width:8%">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="expiryStock!=null &&  expiryStock.length==0">
                      <td colspan="9" class="text-center">No data Available</td>
                    </tr>
                    <tr *ngFor="let expiry of expiryStock | paginate: { itemsPerPage: itemsPerPage, currentPage: pageIndex , totalItems: totalItems};let
                                        i=index;">
                      <td class="sorting_1">{{ expiry.id }}</td>

                      <td>{{ expiry.slip_date | date: 'MMMM d, y' }}</td>
                      <td>{{ expiry.type ===0 ? 'Damage Item Slip' :' Expiry Item Slip' }}</td>
                      <td>{{ expiry.users.username }}</td>
                      <td>{{ expiry.approx_value_of_cp }}</td>
                      <td>{{ expiry.approx_value_of }}</td>
                      <td style="width:8%">
                        <a href="javascript:void(0)" class="btn btn-xs btn-info btn-circle" (click)="getExpiryToEdit(expiry.id)">
                          <i aria-hidden="true" class="fa fa-pencil"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-danger btn-circle" (click)="deleteExpiryStock(expiry.id)">
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
