<div class="content-wrapper">
  <div>
    <toaster-container [toasterconfig]="config1"></toaster-container>
  </div>

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Employee
      <small>Add/Edit Employee</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="master/employee">Employee</li>
    </ol>
  </section>

  <!-- Main contentes -->
  <section class="content">
    <div class="employee">
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <a (click)="show=!show" class="btn bg-red new-employee">Add New</a>
        </div>
        <div class="col-md-6 dropdown margin-bottom ">
          <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle pull-right">Export
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li [routerLinkActive]="['active']" class="treeview">
              <a href="javascript:void(0)">Excel</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="generatePDF()">PDF</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="employeeFormDiv" *ngIf="show" @slideIn>
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="row employee-box">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">
                        <div class="col-md-offset-10 col-md-2">
                          <label for="">Employee ID:
                          </label>
                          {{nextRecordId}}
                          <span></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="">Name
                              <span style="color: red;">*</span>
                            </label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="ion ion-person"></i>
                              </div>
                              <input type="text" formControlName="name" name="name" placeholder="Name" class="form-control  input-sm">
                            </div>
                            <show-errors [control]="employeeForm.controls.name"></show-errors>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Parent's Name</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="ion ion-ios-person"></i>
                              </div>
                              <input type="text" formControlName="parentName" name="parentName" placeholder="Parent's Name" class="form-control  input-sm">
                            </div>
                            <show-errors [control]="employeeForm.controls.parentName"></show-errors>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Gender</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="ion ion-ios-person"></i>
                              </div>
                              <select class="form-control input-sm" formControlName="gander">
                                <option Value=1>Male</option>
                                <option Value=2>Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Mobile
                              <span style="color: red;">*</span>
                            </label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="ion ion-iphone"></i>
                              </div>
                              <input type="text" formControlName="mobile" name="mobile" placeholder="e.g: 9192674585" class="form-control  input-sm" maxlength="10">
                            </div>
                            <show-errors [control]="employeeForm.controls.mobile"></show-errors>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Email</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="ion ion-at"></i>
                              </div>
                              <input type="text" formControlName="email" name="email" placeholder="Email" class="form-control  input-sm">
                            </div>
                            <show-errors [control]="employeeForm.controls.email"></show-errors>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">Dt. of Joining</label>
                            <my-date-picker name="joindate" formControlName="dateOfJoining" id="joindate" placeholder="Dt. of Joining" [options]="myDatePickerOptions"
                              [(ngModel)]="doj"></my-date-picker>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">Birthday</label>
                            <my-date-picker name="birthdate" formControlName="birthday" id="birthdate" placeholder="Birthday" [options]="myDatePickerOptions"
                              [(ngModel)]="model"></my-date-picker>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group ">
                            <label for="">Department</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-gears"></i>
                              </div>
                              <input type="text" formControlName="department" name="department" placeholder="Department" class="form-control  input-sm">
                            </div>
                            <show-errors [control]="employeeForm.controls.department"></show-errors>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group ">
                            <label for="">Position
                            </label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-rocket"></i>
                              </div>
                              <input type="text" formControlName="position" name="position" placeholder="Position" class="form-control  input-sm">
                            </div>
                            <show-errors [control]="employeeForm.controls.position"></show-errors>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="">P. Address
                              <span style="color: red;">*</span>
                            </label>
                            <textarea name="address" formControlName="pAddress" rows="4" placeholder="Address" class="form-control  input-sm fix-textarea"></textarea>
                          </div>
                          <show-errors [control]="employeeForm.controls.pAddress"></show-errors>
                        </div>
                        <div class="col-md-6 no-margin no-padding">
                          <div class="form-group ">
                            <label for="">R. Address
                              <span style="color: red;">*</span>

                            </label>
                            <textarea name="address" formControlName="rAddress" rows="4" placeholder="Address" class="form-control  input-sm fix-textarea"></textarea>
                          </div>
                          <show-errors [control]="employeeForm.controls.rAddress"></show-errors>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-12" style=" margin-left:6%;">
                          <input id="active" name="active" type="checkbox" formControlName="active" (change)="handleChange($event)">
                          <label for="active">Active</label>
                        </div>
                        <div class="col-md-12" style=" margin-left:6%;">
                          <input id="active" name="active" type="checkbox" formControlName="stylist">
                          <label for="active">Stylist</label>
                        </div>
                      </div>
                      <div class="row" style="margin-top:15%;">
                        <div class="col-md-12">
                          <div class="col-md-12">
                            <div class="profile-action">
                              <img id="productImg" [src]="imageSrc" class="img-thumbnail img-responsive" style="margin: auto;">
                              <a class="change-profile" style="color: black;">
                                <i aria-hidden="true" class="fa fa-camera fa-lg" id="itemPic" (click)="openFileUploadDialig()"></i>
                              </a>
                              <input type="file" #fileInput style="opacity:0" (change)="fileUpload($event)" placeholder="Upload file" accept=".jpg,.png">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div id="salaryStructure" class="" style="margin:1px 18px;">
                  <div class="">
                    <div class="">
                      <div class="row">
                        <div class="col-md-12" style="background-color: #e4e4e4;border-radius: 6px;margin-bottom:10px;">
                          <div class="">
                            <h4 class="">Employee Salary Structure </h4>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="userName">From</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input id="basicSalary" type="text" name="basicSalary" placeholder="Basic Salary" class="form-control input-sm">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="userName">HRA</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input id="hra" type="text" name="hra" placeholder="HRA" class="form-control input-sm">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Conveyance</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input type="text" placeholder="Conveyance" readonly="readonly" class="form-control  input-sm">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Allowance 1</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input id="allowance1" type="text" name="allowance1" placeholder="Allowance" class="form-control input-sm">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Allowance 2</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input id="allowance2" type="text" name="allowance2" placeholder="Allowance" class="form-control input-sm">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Allowance 3</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input id="allowance3" type="text" name="allowance3" placeholder="Allowance" class="form-control input-sm">

                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>EPF Amt.</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input id="epf" type="text" name="epf" placeholder="" class="form-control input-sm">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>ESI Amt.</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input id="esi" type="text" name="esi" placeholder="" class="form-control input-sm">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="row">
                            <div class="col-md-12" style="margin-top:37%">
                              <div class="form-group">
                                <label>Gross Salary</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input id="grossSalary" type="text" name="grossSalary" placeholder="" class="form-control input-sm">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div> -->
                <div id="commissionService" class="" style="margin:1px 18px;">
                  <div class="">
                    <div class="">
                      <div class="row">
                        <div class="col-md-12" style="background-color: #e4e4e4;border-radius: 6px;margin-bottom:10px;">
                          <div class="">
                            <h4 class="">Employee Commission Rates Service Wise </h4>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="form-group">
                                <label for="userName">Service</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-gears"></i>
                                  </div>
                                  <input ngui-auto-complete [source]="searchItem.bind(this)" #seachvalue [list-formatter]="autocompleListFormatter" value-property-name="id"
                                    blank-option-text=' ' display-property-name="itemName" placeholder="Search Services" [ngModel]="searchbox"
                                    [ngModelOptions]="{standalone: true}" class="form-control input-sm" (valueChanged)="serviceSelected($event)">
                                  <!-- <select class="form-control input-sm">
                                    <option Value=1>Cleaning</option>
                                    <option Value=2>Manicure</option>
                                  </select> -->
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="userName">Commission Rate</label>
                                <div class="input-group">
                                  <div class="input-group-addon">
                                    <i class="fa fa-money"></i>
                                  </div>
                                  <input type="text" name="sp" placeholder="Commission rate" [ngModelOptions]="{standalone: true}" [(ngModel)]="serviceRate"
                                    maxlength="8" required="required" class="form-control input-sm decimal" aria-required="false"
                                    aria-invalid="true">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row" id="commissionRateTable">
                            <div class="col-sm-12">
                              <table class="table table-bordered table-striped datatable-order dataTable" width="100%">
                                <thead>
                                  <tr>
                                    <th style="width: 7px;" class="sorting_desc">#</th>
                                    <th class="sorting">Service</th>
                                    <th class="sorting">Commission Rate (%)</th>
                                    <th class="sorting">Action</th>
                                  </tr>
                                </thead>
                                <tbody formArrayName="employee_service_comm">
                                  <tr *ngIf="serviceList === null || serviceList.length ===0 ">
                                    <td colspan="5" class="text-center">No Records</td>
                                  </tr>
                                  <tr [formGroupName]="i" *ngFor="let serviceComm of employeeForm.get('employee_service_comm')['controls'];let i=index">
                                    <ng-template [ngIf]="serviceComm.value['deleted']==false">
                                      <td> {{ i+1 }} </td>
                                      <td>{{ serviceComm.value['itemObj']['itemName'] }}</td>
                                      <td>
                                        <input type="text" formControlName="comm_rate" class='form-control input-sm' name="" id="" placeholder="Commission Rate"> </td>
                                      <td>
                                        <a (click)="removeService(i)" class="btn btn-xs btn-danger btn-circle ">
                                          <i aria-hidden="true" class="fa fa-trash"></i>
                                        </a>
                                      </td>
                                    </ng-template>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-md-2">
                          <div class="row">
                            <div class="col-md-12" style="margin-top: 12%;">
                              <a class="btn bg-purple btn-sm" data-toggle="collapse" data-target="#commissionRateTable">Add to List </a>
                            </div>
                          </div>
                        </div> -->
                      </div>

                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary ">
                      <i class="fa fa-floppy-o"></i>
                      {{formEditMode!=true ? 'Save' : 'Update'}}</button>
                    <a class="btn btn-cyan" (click)="reset()">

                      <i class="fa fa-refresh"></i> Reset</a>
                    <a (click)="resetForm()" class="btn btn-danger add-customer">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" *ngIf="!show" @slideIn>
        <div class="col-md-12 table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                  <label>Show
                    <select name="DataTables_Table_0_length" [(ngModel)]="ddlitemsPerPage" (change)="setItemsPerPage()" aria-controls="DataTables_Table_0"
                      class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div id="DataTables_Table_0_filter" class="dataTables_filter pull-right">
                  <label>Search:
                    <input type="search" #box (keyup.enter)="onEnter(box.value)" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped datatable-order dataTable" width="100%">
                  <thead>
                    <tr>
                      <th style="width: 5%;">
                        <a class="text-white" [routerLink]="['/master/employee']" [queryParams]="sortDir == 'desc' && sortCol =='id' ?{sort:'id', dir:'asc' }:{sort:'id', dir:'desc'} ">#</a>
                        <i class="{{ sortCol == 'id' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/master/employee']" [queryParams]="sortDir == 'desc' && sortCol =='name' ?{sort:'name', dir:'asc' }:{sort:'name', dir:'desc'} ">Name</a>
                        <i class="{{ sortCol == 'name' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th class="sorting">
                        <a class="text-white" [routerLink]="['/master/employee']" [queryParams]="sortDir == 'desc' && sortCol =='mobile' ?{sort:'mobile', dir:'asc' }:{sort:'mobile', dir:'desc'} ">Mobile</a>
                        <i class="{{ sortCol == 'mobile' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th class="sorting">
                        <a class="text-white" [routerLink]="['/master/employee']" [queryParams]="sortDir == 'desc' && sortCol =='email' ?{sort:'email', dir:'asc' }:{sort:'email', dir:'desc'} ">Email</a>
                        <i class="{{ sortCol == 'email' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th style="width: 8%;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="employees!=null &&  employees.length==0">
                      <td colspan="9" class="text-center">No employees Available</td>
                    </tr>
                    <tr *ngFor="let employee of employees | paginate: { itemsPerPage: itemsPerPage, currentPage: pageIndex , totalItems: totalItems};let i=index;">
                      <td>{{ employee.id }}</td>
                      <td>{{employee.name}}</td>
                      <td>{{employee.mobile}}</td>
                      <td>{{employee.email}}</td>
                      <td style="width:8%">
                        <a (click)="getEmployeeToEdit(employee.id)" class="btn btn-xs btn-info btn-circle">
                          <i aria-hidden="true" class="fa fa-pencil"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-danger btn-circle" (click)="deleteEmployee(employee.id)">
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end #customer div -->
  </section>
</div>
