<div class="content-wrapper">
  <div>
    <toaster-container [toasterconfig]="config1"></toaster-container>
  </div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Category
      <small>Add/Edit Category</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="master/category">Category</li>
    </ol>
  </section>
  <section class="content">

    <div class="category">
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <a (click)="show=!show" class="btn bg-red new-category" aria-expanded="false">Add New</a>
        </div>
        <div class="col-md-6 dropdown margin-bottom ">
          <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle pull-right">Export
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:void(0)" (click)="generateXls()">Excel</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="generatePDF()">PDF</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="categoryFormDiv" *ngIf="show" @slideIn>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row customer-box">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group ">
                        <label for="title">Sub Category</label>
                        <span style="color: red;">*</span>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i aria-hidden="true" class="fa fa-tags"></i>
                          </div>
                          <input formControlName="categorie" placeholder="Sub Category" name="categorie" type="text" class="form-control input-sm">
                        </div>
                        <span *ngIf="form.get('categorie').hasError('nospace')" class="text-red">Space not allowed</span>
                        <span *ngIf="!form.get('categorie').valid && form.get('categorie').dirty && !form.get('categorie').hasError('nospace')" class="text-red">sub category name is
                          <b>required</b>
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group ">
                        <label for="title">Category</label>
                        <span style="color: red;">*</span>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i aria-hidden="true" class="fa fa-tags"></i>
                          </div>
                          <select name="parent_category" class="form-control input-sm " formControlName="parent_category">
                            <option value="0">Parent Category</option>
                            <option [ngValue]="parent_cat.id" *ngFor="let parent_cat of parentCategory">{{parent_cat.categorie}}</option>
                          </select>
                          <span *ngIf="!form.get('parent_category').valid && form.get('parent_category').dirty" class="text-red">parent category name is
                            <b>required</b>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary " value="null" [disabled]="!form.valid">
                      <i class="fa fa-floppy-o"></i> {{formEditMode!=true ? 'Save' : 'Update'}} </button>
                    <a class="btn btn-cyan" (click)="reset()">
                      <i class="fa fa-refresh"></i> Reset</a>
                    <a data-toggle="collapse" (click)="resetForm()" data-target="#categoryFormDiv" class="btn btn-danger add-customer collapsed"
                      aria-expanded="false">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" *ngIf="!show" @slideIn>
        <div class="col-md-12 table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                  <label>Show
                    <select name="DataTables_Table_0_length" [(ngModel)]="ddlitemsPerPage" (change)="setItemsPerPage()" aria-controls="DataTables_Table_0"
                      class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div id="DataTables_Table_0_filter" class="dataTables_filter pull-right">
                  <label>Search:
                    <input type="search" class="form-control input-sm " placeholder="" #box (keyup.enter)="onEnter(box.value)" aria-controls="DataTables_Table_0">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-hover datatable-order dataTable">
                  <thead>
                    <tr role="row">
                      <th>
                        <a class="text-white" [routerLink]="['/master/category']" [queryParams]="sortDir == 'desc' && sortCol =='id' ?{sort:'id', dir:'asc' }:{sort:'id', dir:'desc'} ">#</a>
                        <i class="{{ sortCol == 'id' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                        <th>
                          <a class="text-white" [routerLink]="['/master/category']" [queryParams]="sortDir == 'desc' && sortCol =='categorie' ?{sort:'categorie', dir:'asc' }:{sort:'categorie', dir:'desc'} ">Category</a>
                          <i class="{{ sortCol == 'categorie' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                        </th>
                        <th>Parent Category</th>
                        <th>
                          <a class="text-white" [routerLink]="['/master/category']" [queryParams]="sortDir == 'desc' && sortCol =='created_at' ?{sort:'created_at', dir:'asc' }:{sort:'created_at', dir:'desc'} ">Created Date</a>
                          <i class="{{ sortCol == 'created_at' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                        </th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="categories!=null &&  categories.length==0">
                      <td colspan="9" class="text-center">No categories Available</td>
                    </tr>
                    <tr role="row" class="odd" *ngFor="let category of  categories | paginate: { itemsPerPage: itemsPerPage, currentPage: pageIndex , totalItems: totalItems};let i=index">
                      <td class="sorting_1">{{category.id}}</td>
                      <td>{{category.categorie}}</td>
                      <td> {{category.parent_category==0 ? 'Parent Category' : category.parent_cat.categorie}} </td>
                      <td>{{category.created_at | date: 'MMMM d, y'}}
                        <br>
                        <em>
                          <small class="font-roboto">
                            Last Updated {{category.updated_at | timeAgo }}
                          </small>
                        </em>
                      </td>
                      <td>
                        <a href="javascript:void(0)" (click)="getEditCategory(category.id)" class="btn btn-xs btn-info btn-circle">
                          <i aria-hidden="true" class="fa fa-pencil"></i>
                        </a>
                        <a href="javascript:void(0)" id="6" class="btn btn-xs btn-danger btn-circle " (click)="deleteCategory(category.id)">
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

</div>
