<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Employee Schedule
      <small>Add/Edit Employee Schedule</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="master/employee-schedule">Employee Schedule</li>
    </ol>
  </section>
  <section class="content">


    <div id="schedule-module">
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <a class="btn bg-red new-purchase" (click)="show=!show">Add New</a>
        </div>
      </div>
      <div id="employeeFormDiv" *ngIf="show" @slideIn class="scheduleemployee">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" id="employeeForm">
          <div class="row employee-box">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                  <div id="employee-schedule">
                    <div class="row">
                      <div class="col-md-12">

                        <div class="row">
                          <div class="col-md-5 well" style="margin-left:5%;">
                            <div class="row">
                              <div class="col-md-10">
                                <div class="form-group">
                                  <label>Name</label>
                                  <div class="input-group">
                                    <div class="input-group-addon">
                                      <i class="fa fa-user"></i>
                                    </div>
                                    <select formControlName="employeeId" id="" tabindex="-1" class="form-control input-sm" aria-hidden="true">
                                      <option value=''>Select Employee</option>
                                      <option *ngFor="let employee of employees" value={{employee.id}}>{{ employee.name }}</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="row">
                              <div class="col-md-4">
                                <input type="radio" id="workingstatus" name="workingstatus" value="0" checked="checked" class="">Working
                              </div>
                              <div class="col-md-4">
                                <input type="radio" id="workingstatus" name="workingstatus" value="1" class="">Not Working
                              </div>
                            </div> -->
                            <div id=workingTime>
                              <div class="row">
                                <div class="col-md-12">
                                  <h4>Working Time </h4>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Start Time</label>
                                    <div class="input-group">
                                      <input class="form-control" a2e-datetimepicker [date]="dateTo" [options]="a2eOptions" (onChange)="dateToChange($event)" (onClick)="dateClick()"
                                      />
                                      <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>End Time</label>
                                    <div class="input-group">
                                      <input class="form-control" a2e-datetimepicker [date]="dateTo" [options]="a2eOptions" (onChange)="dateToChange($event)" (onClick)="dateClick()"
                                      />
                                      <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div id="setdate">

                              <div formArrayName="workingDays" class="row">
                                <div class="col-md-12">
                                  <h4>Working Days </h4>
                                </div>
                                <div class="col-md-12">
                                  <span style="margin-left: 2%;" [formGroupName]="i" *ngFor="let item of weekdays;let i=index">
                                    <input type="checkbox" formControlName="{{item}}">
                                    <span>{{ item }}</span>
                                  </span>
                                </div>
                              </div>


                              <!-- <div class="row ">
                                <div class="col-md-12">
                                  <span *ngFor="let days of weekdays;let i=index" style="margin-left: 2%;">
                                    <input type="checkbox" [checked]="checkboxValue" value="i" name="weekdays"> {{days}}

                                  </span>
                                </div>
                              </div> -->
                              <div class="row">
                                <div class="col-md-5">
                                  <p id="pSelectAllNone">Select:
                                    <a class="text-red" id="aSelectAll" data-value="true" (click)="selectAllchk()">All</a> |
                                    <a class="text-red" id="aSelectNone" data-value="false" (click)="notSelectAllchk()">None</a>
                                  </p>

                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-5 well" style="margin-left:5%;">
                            <div class="row">
                              <div class="col-md-12">
                                <h4>Particular Date Set Up Working Time </h4>
                              </div>
                            </div>
                            <div class="">
                              <div class="row ">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Start Date</label>
                                    <my-date-picker name="date" id="date" placeholder=" StartDate" [options]="myDatePickerOptions" [ngModelOptions]="{standalone: true}"
                                      [(ngModel)]="datestart "></my-date-picker>
                                  </div>
                                </div>
                                <div class="col-md-6 ">
                                  <div class="form-group ">
                                    <label>End Date</label>

                                    <my-date-picker name="enddate " id="enddate " placeholder=" End Date " [options]="myDatePickerOptions
                                      " [ngModelOptions]="{standalone: true}" [(ngModel)]="dateend "></my-date-picker>
                                  </div>
                                </div>
                              </div>
                              <div class="row rowbottom ">
                                <div class="col-md-6 ">
                                  <div class="form-group ">

                                    <label>Start Time</label>
                                    <div class="input-group ">
                                      <input class="form-control " a2e-datetimepicker [date]="dateTo " [options]="a2eOptions
                                      " (onChange)="dateToChange($event) " (onClick)="dateClick() " />

                                      <span class="input-group-addon ">
                                        <span class="fa fa-clock-o "></span>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6 ">
                                  <div class="form-group ">
                                    <label>End Time</label>
                                    <div class="input-group ">
                                      <input class="form-control " a2e-datetimepicker [date]="dateTo " [options]="a2eOptions
                                      " (onChange)="dateToChange($event) " (onClick)="dateClick() " />
                                      <span class="input-group-addon ">
                                        <span class="fa fa-clock-o "></span>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row ">
                              <div class="col-md-12 ">
                                <div class="form-group ">
                                  <label>Schedule Entry Comment</label>
                                  <textarea class="form-control input-sm fix-textarea " id=" " name="Comment " rows="2"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-footer ">
                  <div class="form-group ">
                    <button type="submit " class="btn btn-primary ">
                      <i class="fa fa-floppy-o "></i>
                      Save </button>
                    <a class="btn btn-cyan ">
                      <i class="fa fa-refresh "></i> Reset</a>
                    <a data-toggle="collapse " data-target=".scheduleemployee " class="btn btn-danger add-customer ">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="!show" @slideIn style="margin-top: 15px; ">
      <div class="col-md-12 table-responsive purchase-table purchase collapse in " style=" ">
        <div id="DataTables_Table_0_wrapper " class="dataTables_wrapper form-inline dt-bootstrap ">
          <div class="row ">
            <div class="col-sm-6 ">
              <div class="dataTables_length " id="DataTables_Table_0_length ">
                <label>Show
                  <select name="DataTables_Table_0_length " aria-controls="DataTables_Table_0 " class="form-control input-sm ">
                    <option value="10 ">10</option>
                    <option value="25 ">25</option>
                    <option value="50 ">50</option>
                    <option value="100 ">100</option>
                  </select> entries</label>
              </div>
            </div>
            <div class="col-sm-6 ">
              <div id="DataTables_Table_0_filter " class="dataTables_filter ">
                <label class="pull-right ">Search:
                  <input type="search " class="form-control input-sm " placeholder=" " aria-controls="DataTables_Table_0 ">
                </label>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-12 ">
              <table class="table table-bordered table-striped datatable1 dataTable " id="DataTables_Table_0 " role="grid
                                      " aria-describedby="DataTables_Table_0_info ">
                <thead>

                  <tr role="row ">
                    <th>#</th>
                    <th>Employee Name</th>
                    <th>Working Time From</th>
                    <th>Working Time To</th>
                    <th style="width: 12%; ">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let emp of employeesWorkinTimes;let i=index ">
                    <td> {{ emp.employee.id }} </td>
                    <td> {{ emp.employee.name }} </td>
                    <td> {{ emp.start_time }} </td>
                    <td> {{ emp.end_time }} </td>
                    <td>
                      <a class="btn btn-xs btn-info btn-circle ">
                        <i aria-hidden="true " class="fa fa-pencil "></i>
                      </a>
                      <a class="btn btn-xs btn-danger btn-circle ">
                        <i aria-hidden="true " class="fa fa-trash "></i>
                      </a>
                    </td>
                  </tr>
                  <!-- <tr role="row " class="odd ">
                    <td class="sorting_1 ">1</td>
                    <td>Nicky</td>
                    <td>07:00</td>
                    <td>20:00</td>
                    <td>
                      <a class="btn btn-xs btn-info btn-circle ">
                        <i aria-hidden="true " class="fa fa-pencil "></i>
                      </a>
                      <a class="btn btn-xs btn-danger btn-circle ">
                        <i aria-hidden="true " class="fa fa-trash "></i>
                      </a>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>


  </section>

</div>
