<form [formGroup]="form">
  <div class="row">
    <div class="col-md-3">
      <label for="" style="margin-left:10px;margin-top:7px">
        Appointement No : {{nextAppointmentId}}
      </label>

      <label for="" style="margin-left:10px;margin-top:26px">Select a Client For This Appointment
        <span style="color: red;">*</span>
      </label>

      <div class="form-group ">
        <select class="form-control input-sm" formControlName="customerId" (change)="getCustomerDetails($event.target.value)">
          <!-- <option value="0">No Client Selected</option> -->
          <option *ngFor="let customer of customers" value="{{customer.id}}">{{customer.name}}</option>
        </select>
        <div style="text-align:center">
          <img src="./assets/img/avatar5.png" class="clientImage" alt="Client">
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="" style="margin-left:10px">Appoitment Date
                <span style="color: red;">*</span>
              </label>
              <my-date-picker #appdate name="appoitementdate" class="input-sm" [options]="myDatePickerOptions" placeholder="Appoitment Date"
                formControlName="appointement_date"></my-date-picker>
              <show-errors [control]="form.controls.appointement_date"></show-errors>
            </div>

          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Start Time</label>
              <div class="input-group">
                <input #apptime class="form-control" a2e-datetimepicker [date]="dateTo" [options]="a2eOptions" (onChange)="dateToChange($event)"
                  (onClick)="dateClick()" formControlName="appointmentTime" />



                <span class="input-group-addon">
                  <span class="fa fa-clock-o"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group ">
              <label for="">Confirmed By
              </label>
              <select class="form-control input-sm" formControlName="confirmed_by">
                <option value="Phone (Direct)">Phone (Direct)</option>
                <option value="In Person">In Person</option>
                <option value="E-mail">E-mail</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group ">
              <label for="">Stylist Name:
                <span style="color: red;">*</span>
              </label>

              <select class="form-control input-sm" formControlName="stylistId" (change)="getStylistDetails($event.target.value)">
                <option *ngFor="let stylist of stylists" value="{{stylist.id}}">{{ stylist.name }}</option>
              </select>
              <show-errors [control]="form.controls.stylistId"></show-errors>
            </div>
          </div>
          <div class="col-md-8">
            <label id="status" style="margin-left: 9%;" class="control-label"> Status:</label>
            <div class="form-group">
              <div class="col-md-12">
                <label *ngFor="let status of Status">
                  <input type="radio" name="status" formControlName='status' checked="status==status" [value]="status.value" style="margin-left: 30px;"> {{status.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="border-bottom:2px solid red;margin: 15px;"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="dialogcontent">
              <div class="row">
                <div class="col-md-8">
                  <div class="for-group">
                    <input ngui-auto-complete [source]="searchServices.bind(this)" #seachvalue [list-formatter]="autocompleListFormatter" value-property-name="id"
                      display-property-name="itemName" placeholder="Search services" [ngModel]="searchbox" [ngModelOptions]="{standalone: true}"
                      (valueChanged)="valueChanged($event)" class="form-control input-sm">

                  </div>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn input-sm" (click)="addServices()">Add Service</button>
                </div>
              </div>
              <div class="row" style="margin-top:20px">
                <div class="col-md-12">
                  <table class="table table-stripped" width="100%">
                    <thead>
                      <tr>
                        <th>Appointment Time</th>
                        <th>Service Name</th>
                        <th>Service Time</th>
                        <th>Amount</th>
                        <th> Stylist Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="serviceList">
                      <tr formArrayName="{{i}}" *ngFor="let service of form.get('serviceList')['controls']; let i =index;">
                        <ng-template [ngIf]="service.value['deleted']==false">
                          <td>
                            <!-- <input class="form-control input-sm" title="Start Time" a2e-datetimepicker [options]="a2eOptions" (onChange)="dateChangeServices($event,i,0)"
                            [date]="service.value[0]" [formControlName]="0" /> -->
                            {{ service.value['started_on'] | date : 'HH:mm:ss' }}
                          </td>
                          <td>

                            {{ service.value['itemName']}}

                            <!-- <input type="text" class="form-control" [formControlName]="1"> -->
                          </td>
                          <td>{{service.value['serviceTime'] }} </td>
                          <td>
                            <i class="fa fa-inr"></i> {{service.value['amount'] }}</td>
                          <td>{{service.value['stylist'] }}</td>
                          <td>
                            <a (click)="removeService(i)" class="btn btn-xs btn-danger btn-circle">
                              <i aria-hidden="true" class="fa fa-trash"></i>
                            </a>
                          </td>
                        </ng-template>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">

      <div class="input-group">

        <div class="input-group-addon">
          <span>Total Cost :</span>
          <i class="fa fa-money"></i>
        </div>
        <input style="color: green;text-align:right" name="totalcost" placeholder="Total Package Cost" disabled="disabled" value="{{ totalCost }}"
          class="input-sm form-control">
      </div>

    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="submit" class="btn input-sm " (click)="onSubmit('cancel')">Cancel</button>
      <button type="submit" (click)="onSubmit('save')" class="btn bg-red input-sm pull-right ">{{ formEditMode ? 'Update Appointment' : 'Save & Schedule' }}</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</form>
