.ng2-opd-popup-content-main[_ngcontent-c7] {
  top: 7%;
}

.duplicate {
  background-color: #f39c12 !important;
}

.change-profile {
  bottom: 18%;
  left: 47%;
}

a:hover,
a:active,
a:focus {
  color: white;
}
