<div class="content-wrapper">
  <div>
    <toaster-container [toasterconfig]="config1"></toaster-container>
  </div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Supplier
      <small>Add/Edit Supplier</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="master/supplier">Supplier</li>
    </ol>
  </section>

  <section class="content">
    <!-- <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="close()">&times;</button>
          <h4 class="modal-title">{{title || 'Confirm'}}</h4>
        </div>
        <div class="modal-body">
          <div [innerHTML]="message"></div>
          <input type="button" value="Submit" (click)="got()">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
          <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>
      </div>
    </div> -->
    <div class="supplier">
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <a (click)="show=!show" class="btn bg-red new-supplier" aria-expanded="true">Add New</a>
        </div>
        <div class="col-md-6 dropdown margin-bottom ">
          <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle pull-right">Export
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:void(0)">Excel</a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="generatePDF()">PDF</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="supplierFormDiv" *ngIf="show" @slideIn>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row customer-box">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                  <div class="row">
                    <div class="form-group">
                      <div class=" col-md-offset-10 col-md-2">
                        <label for="title">Supplier Id :</label>
                        <span>
                          {{formEditMode!=true ? nextRecordId : editId}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="title">Supplier Type</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="ion ion-person"></i>
                          </div>
                          <select id="type" formControlName="type" name="type" class="form-control input-sm">
                            <option value="Supplier" selected="selected">Supplier</option>
                            <option value="Branch">Branch</option>
                            <option value="Dealer">Dealer</option>
                            <option value="Godown">Godown</option>
                            <option value="Manufacturer">Manufacturer</option>
                            <option value="Retail">Retail</option>
                          </select>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="title">Title</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="ion ion-person"></i>
                          </div>
                          <select id="title" formControlName="title" name="title" class="form-control input-sm " tabindex="-1" aria-hidden="true">
                            <option value="0" selected="selected">Title</option>
                            <option value="1">Mr.</option>
                            <option value="2">Ms.</option>
                            <option value="3">Mrs.</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group ">
                        <label for="title">Company Name</label>
                        <label>
                          <span style="color: red;">*</span>
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="ion ion-person"></i>
                          </div>
                          <input formControlName="company_name" placeholder="Company" name="name" type="text" class="form-control input-sm">
                        </div>
                        <show-errors [control]="form.controls.company_name"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="title">A/c Group</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-tags"></i>
                          </div>
                          <input placeholder="" formControlName="account_grp" id="tttt" name="account_grp" type="text" class="form-control input-sm ">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group ">
                        <label for="title">Phone</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="ion ion-ios-telephone"></i>
                          </div>
                          <input formControlName="office_no" placeholder="1234-456789525" name="phone" type="text" class="form-control input-sm phone"
                            maxlength="14">
                        </div>
                        <show-errors [control]="form.controls.office_no"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group ">
                        <label for="title">Mobile</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="ion ion-iphone"></i>
                          </div>
                          <input formControlName="mobile_no" placeholder="9150568952" name="mobile" type="text" class="form-control input-sm mobile"
                            maxlength="10">
                        </div>
                        <show-errors [control]="form.controls.mobile_no"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="title">Fax</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i aria-hidden="true" class="fa fa-fax"></i>
                          </div>
                          <input formControlName="fax" maxlength="15" placeholder="Fax" name="fax" type="text" class="form-control input-sm">
                        </div>
                        <show-errors [control]="form.controls.fax"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group ">
                        <label for="title">Email</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="ion ion-at"></i>
                          </div>
                          <input formControlName="email" placeholder="Email" name="email" type="email" class="form-control input-sm">
                        </div>
                        <show-errors [control]="form.controls.email"></show-errors>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="title">Address</label>
                        <label></label>
                        <textarea formControlName="address" rows="4" maxlength="255" placeholder="Address" name="address" cols="50" class="form-control input-sm fix-textarea"></textarea>
                      </div>
                      <show-errors [control]="form.controls.address"></show-errors>
                    </div>
                    <div class="col-md-6 no-margin no-padding">
                      <div class="col-md-6 no-margin">
                        <div class="form-group">
                          <label for="title">City/State</label>
                          <label></label>
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="ion ion-location"></i>
                            </div>
                            <input formControlName="city" maxlength="40" placeholder="City/State" name="city" type="text" class="form-control input-sm">
                          </div>
                          <show-errors [control]="form.controls.city"></show-errors>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="title">ECC No.</label>
                          <label></label>
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i aria-hidden="true" class="icon ion-ios-pricetags-outline"></i>
                            </div>
                            <input formControlName="ecc_no" placeholder="_______________" name="ecc" type="text" class="form-control input-sm ecc-no"
                              maxlength="15">
                          </div>
                          <show-errors [control]="form.controls.ecc_no"></show-errors>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="title">Range</label>
                          <label></label>
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i aria-hidden="true" class="fa fa-arrows-h"></i>
                            </div>
                            <input formControlName="range_no" maxlength="15" placeholder="Range" name="range" type="text" class="form-control input-sm">
                          </div>
                          <show-errors [control]="form.controls.range_no"></show-errors>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="title">Comm.</label>
                          <label></label>
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i aria-hidden="true" class="icon ion-ios-pricetags-outline"></i>
                            </div>
                            <input formControlName="comm" maxlength="15" placeholder="Comm." name="comm" type="text" class="form-control input-sm">
                          </div>
                          <show-errors [control]="form.controls.comm"></show-errors>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="title">Division</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i aria-hidden="true" class="fa fa-university"></i>
                          </div>
                          <input formControlName="division" maxlength="15" placeholder="Division" name="division" type="text" class="form-control input-sm">
                        </div>
                        <show-errors [control]="form.controls.division"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="title">C.S.T. No.</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i aria-hidden="true" class="icon ion-ios-pricetags-outline"></i>
                          </div>
                          <input formControlName="cst_no" placeholder="___________ _" name="cst" type="text" class="form-control input-sm cst-no" maxlength="11">
                        </div>
                        <show-errors [control]="form.controls.cst_no"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="title">Pan No.</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i aria-hidden="true" class="icon ion-card"></i>
                          </div>
                          <input formControlName="pan_no" placeholder="AAAAA9999A" name="pan" type="text" class="form-control input-sm pan-no" maxlength="10">
                        </div>
                        <show-errors [control]="form.controls.pan_no"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="title">Tin No.</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i aria-hidden="true" class="icon ion-ios-pricetags-outline"></i>
                          </div>
                          <input formControlName="tin_no" placeholder="__-_______" name="tin" type="text" class="form-control input-sm tin-no" maxlength="10">
                        </div>
                        <show-errors [control]="form.controls.tin_no"></show-errors>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary " [disabled]="form.invalid">
                      <i class="fa fa-floppy-o"></i>
                      {{formEditMode!=true ? 'Save' : 'Update'}}</button>
                    <a class="btn btn-cyan" (click)="reset()">
                      <i class="fa fa-refresh"></i> Reset</a>
                    <a data-toggle="collapse" (click)="resetForm()" data-target="#supplierFormDiv" class="btn btn-danger add-customer" aria-expanded="true">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <button class="btn" (click)="showConfirm()">showConfirm</button>
      </div>
      <div class="row" *ngIf="!show" @slideIn>
        <div class="col-md-12 table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                  <label>Show
                    <select [(ngModel)]="ddlitemsPerPage" (change)="setItemsPerPage()" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                      class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                  <label>Search:
                    <input type="search" #box (keyup.enter)="onEnter(box.value)" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table data-sort-order="desc" data-sort-col="0" class="table table-bordered table-striped datatable-order dataTable" id="DataTables_Table_0"
                  role="grid" aria-describedby="DataTables_Table_0_info">
                  <thead>
                    <tr role="row">
                      <th style="width: 5%;">
                        <a class="text-white" [routerLink]="['/master/supplier']" [queryParams]="sortDir == 'desc' && sortCol =='id' ?{sort:'id', dir:'asc' }:{sort:'id', dir:'desc'} ">#</a>
                        <i class="{{ sortCol == 'id' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/master/supplier']" [queryParams]="sortDir == 'desc' && sortCol =='company_name' ?{sort:'company_name', dir:'asc' }:{sort:'company_name', dir:'desc'} ">Company</a>
                        <i class="{{ sortCol == 'company_name' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/master/supplier']" [queryParams]="sortDir == 'desc' && sortCol =='type' ?{sort:'type', dir:'asc' }:{sort:'type', dir:'desc'} ">Supplier Type</a>
                        <i class="{{ sortCol == 'type' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/master/supplier']" [queryParams]="sortDir == 'desc' && sortCol =='office_no' ?{sort:'office_no', dir:'asc' }:{sort:'office_no', dir:'desc'} ">Phone</a>
                        <i class="{{ sortCol == 'office_no' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>
                        <a class="text-white" [routerLink]="['/master/supplier']" [queryParams]="sortDir == 'desc' && sortCol =='city' ?{sort:'city', dir:'asc' }:{sort:'city', dir:'desc'} ">City</a>
                        <i class="{{ sortCol == 'city' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th style="width: 43px;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="suppliers!=null &&  suppliers.length==0">
                      <td colspan="9" class="text-center">No customers Available</td>
                    </tr>
                    <tr *ngFor="let supplier of suppliers | paginate: { itemsPerPage: itemsPerPage, currentPage: pageIndex , totalItems: totalItems};let
                    i=index;">
                      <td class="sorting_1">{{ supplier.id }}</td>
                      <td>{{ supplier.company_name }}</td>
                      <td>{{ supplier.type }}</td>
                      <td>{{ supplier.mobile_no }}</td>
                      <td>{{ supplier.city }}</td>
                      <td style="width:8%">
                        <a href="javascript:void(0)" class="btn btn-xs btn-info btn-circle" (click)="getEditSupplier(supplier.id)">
                          <i aria-hidden="true" class="fa fa-pencil"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-danger btn-circle" (click)="deleteSupplier(supplier.id)">
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>
