<div class="content-wrapper">
  <div>
    <toaster-container [toasterconfig]="config1"></toaster-container>
  </div>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Package
      <small>Assingment Package</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="package/package_setup">Package Assingment</li>
    </ol>
  </section>
  <!-- Main contentes -->
  <section class="content">
    <div class="open_stock">
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <a (click)="show=!show" class="btn bg-red new-customer">Add New</a>
        </div>
      </div>
      <div id="packageFormDiv" *ngIf="show" @slideIn>
        <form [formGroup]="packageAssignForm" (ngSubmit)="onSubmit()">
          <div class="row customer-box">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="text">Customer Name</label>
                        <label>
                          <span style="color: red;">*</span>
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                          </div>
                          <select formControlName="customerId" tabindex="-1" class="select2-hidden-accessible form-control input-sm" (change)="selectedCustomer($event.target.value)"
                            aria-hidden="true">
                            <option value="0">Please Select</option>
                            <option *ngFor="let customer of customers" class="" value="{{customer.id}}">{{customer.name}}</option>
                          </select>
                        </div>
                        <show-errors [control]="packageAssignForm.controls.customerId"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group ">
                        <label for="text">Package</label>
                        <label>
                          <span style="color: red;">*</span>
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-gift"></i>
                          </div>
                          <select formControlName="packageId" tabindex="-1" (change)="packageSelected($event.target.value)" class="select2-hidden-accessible form-control input-sm"
                            aria-hidden="true">
                            <option value="0">Please Select</option>
                            <option class="" *ngFor="let pack of packages" value="{{ pack.id }}">{{ pack.packageName }}</option>
                          </select>
                        </div>
                        <show-errors [control]="packageAssignForm.controls.packageId"></show-errors>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group ">
                        <label for="text">Vailid From</label>
                        <label>
                          <span style="color: red;">*</span>
                        </label>
                        <my-date-picker name="from" formControlName="validFrom" id="from" [options]="myDatePickerOptions" [(ngModel)]="validFrom"
                          (dateChanged)="onFromDateChanged($event)"></my-date-picker>
                        <show-errors [control]="packageAssignForm.controls.validFrom"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group ">
                        <label for="text">Vailid To</label>
                        <label>
                          <span style="color: red;">*</span>
                        </label>
                        <my-date-picker name="to" disabled="true" formControlName="validTo" id="to" [options]="myDatePickerOptions" [(ngModel)]="validTo"></my-date-picker>
                        <show-errors [control]="packageAssignForm.controls.validTo"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group ">
                        <label for="text">Stylist</label>
                        <label>
                          <span style="color: red;">*</span>
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                          </div>
                          <select formControlName="stylistId" tabindex="-1" (change)="stylistSelected($event.target.value)" class="select2-hidden-accessible form-control input-sm"
                            aria-hidden="true">
                            <option value="0">Please Select</option>
                            <option class="" *ngFor="let employee of employees" value="{{employee.id}}">{{ employee.name }}</option>
                          </select>
                        </div>
                        <show-errors [control]="packageAssignForm.controls.stylistId"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group ">
                        <label for="title">Advance Amount</label>
                        <label></label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-money"></i>
                          </div>
                          <input name="advanceAmount" formControlName="advanceAmount" placeholder="Advance Amount" class="form-control input-sm">
                        </div>
                        <show-errors [control]="packageAssignForm.controls.advanceAmount"></show-errors>
                      </div>
                    </div>
                    <div class="col-md-1" style="margin-top:2%;">
                      <button type="button" class="btn btn-primary btn-sm" (click)="addFormArrayList()">
                        <i class="fa fa-plus"></i> Add</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <table class="table table-bordered table-striped datatable-order dataTable" width="100%">
                            <thead>
                              <tr>
                                <th style="width: 7px;">#</th>
                                <th>Package Name</th>
                                <th>Valid From</th>
                                <th>Valid To</th>
                                <th>PkgCost</th>
                                <th>Stylist</th>
                                <th>PID</th>
                                <th>Advance Amount</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody formArrayName="openingItems">
                              <tr *ngIf="serviceList === null || serviceList.length ===0 ">
                                <td colspan="9" class="text-center">No Records</td>
                              </tr>
                              <tr [formGroupName]="i" *ngFor="let ingd of packageAssignForm.get('openingItems')['controls'];let i=index">
                                <ng-template [ngIf]="ingd.value['deleted']==false">
                                  <td>{{ ingd.value['id']}}</td>
                                  <td>{{ ingd.value['package']['packageName'] }}</td>
                                  <td>{{ ingd.value['validFrom'] | date: 'MMMM d, y'}}</td>
                                  <td>{{ ingd.value['validTo'] | date: 'MMMM d, y'}}</td>
                                  <td>{{ ingd.value['package']['totalCost'] }}</td>
                                  <td>{{ ingd.value['stylist']['name'] }}</td>
                                  <td>{{ ingd.value['packageId'] }}</td>
                                  <td>{{ ingd.value['advanceAmount'] }}</td>
                                  <td style="width:12%">
                                    <a title="Customer History" class="btn btn-xs btn-info" data-toggle="collapse" data-target="#packageHistory" (click)="checkPackageHistory(i)">
                                      <i class="fa fa-history" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-xs btn-info btn-circle" (click)="editAssignPackage(i)">
                                      <i aria-hidden="true" class="fa fa-pencil"></i>
                                    </a>
                                    <!-- <a id="1" class="btn btn-xs btn-danger btn-circle" (click)="removePackageAssign(i)">
                                      <i aria-hidden="true" class="fa fa-trash"></i>
                                    </a> -->
                                  </td>
                                </ng-template>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row collapse" id="packageHistory">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <table class="table table-bordered table-striped datatable-order dataTable" width="100%">
                            <thead>
                              <tr>
                                <th class="sorting">Package Name</th>
                                <th class="sorting">Valid From</th>
                                <th class="sorting">Valid To</th>
                                <th class="sorting">Category</th>
                                <th class="sorting">Sub Category</th>
                                <th class="sorting">Item Name</th>
                                <th class="sorting">Qty/Sitting</th>
                                <th class="sorting">Rate</th>
                                <th>Amount</th>
                                <th>Availed/Qty</th>
                                <th>Bal. Qty</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let ph of packagesHistory">
                                <td> {{ ph.pkgName }}</td>
                                <td>{{ ph.validfrom | date: 'MMMM d, y' }}</td>
                                <td> {{ ph.validto | date: 'MMMM d, y' }}</td>
                                <td></td>
                                <td></td>
                                <td>{{ ph.itemId }}</td>
                                <td>{{ ph.quantity_sitting }}</td>
                                <td>{{ph.rate }}</td>
                                <td>{{ ph.totalPackageAmount }}</td>
                                <td>{{ ph.availedQuantity }}</td>
                                <td>{{ ph.balanceQuantity }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="form-group">
                    <button id="add-button" type="submit" class="btn btn-primary ">
                      <i class="fa fa-floppy-o"></i> {{formEditMode!=true ? 'Save' : 'Update'}} </button>
                    <a class="btn btn-cyan" (click)="reset()">
                      <i class="fa fa-refresh"></i> Reset</a>
                    <a class="btn btn-danger" data-toggle="collapse" data-target=".package" (click)="resetForm()">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!show" @slideIn>
        <div class="col-md-12 table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                  <label>Show
                    <select name="DataTables_Table_0_length" [(ngModel)]="ddlitemsPerPage" (change)="setItemsPerPage()" aria-controls="DataTables_Table_0"
                      class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                  <label>Search:
                    <input type="search" #box (keyup.enter)="onEnter(box.value)" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped datatable-paging-false dataTable">
                  <thead>
                    <tr role="row">
                      <th>#</th>
                      <th>Customer Name to Assign Pacakage</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="packageAssign!=null &&  packageAssign.length==0">
                      <td colspan="9" class="text-center">No Packages Assign Available</td>
                    </tr>
                    <tr role="row" *ngFor="let package of packageAssign | paginate: { itemsPerPage: itemsPerPage, currentPage: pageIndex , totalItems: totalItems};let
                    i=index;">
                      <td class="sorting_1">{{ i+1 }}</td>
                      <td> {{ package.name }} </td>
                      <td style="width:12%">
                        <a class="btn btn-xs btn-info btn-circle" (click)="getPackageToEdit(package.id)">
                          <i aria-hidden="true" class="fa fa-pencil"></i>
                        </a>
                        <!-- <a id="1" class="btn btn-xs btn-danger btn-circle">
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </a> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                  <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

  </section>
</div>
