<div class="content-wrapper">
  <div>
    <toaster-container [toasterconfig]="config1"></toaster-container>
  </div>
  <section class="content-header">
    <h1>
      Role
      <small>Add/Edit Role</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="setting/role">Role</li>
    </ol>
  </section>
  <section class="content">
    <div class="role">
      <div class="row">
        <div class="col-md-6 margin-bottom">
          <a (click)="show =!show" class="btn bg-red new-user" aria-expanded="true">Add New</a>
        </div>
      </div>
      <div id="roleFormDiv" *ngIf="show" @slideIn>

        <form [formGroup]="form" (ngSubmit)="OnSubmit()">
          <div class="row customer-box">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group ">
                        <label for="title">Role</label>
                        <span style="color: red;">*</span>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i aria-hidden="true" class="fa fa-th-large"></i>
                          </div>
                          <input placeholder="Role" name="role" type="text" class="form-control input-sm" formControlName="role">
                        </div>
                        <p></p>
                        <div *ngIf="form.controls['role'].hasError('whitespace') && form.controls['role'].dirty" style="color:red">Please enter valid data</div>
                      </div>
                      <p *ngIf="!form.get('role').valid && form.get('role').dirty " class="text-red">Role name is
                        <b>required</b>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
                      <i class="fa fa-floppy-o"></i> {{formEditMode!=true ? 'Save' : 'Update'}}
                    </button>
                    <a class="btn btn-cyan" (click)="reset()">
                      <i class="fa fa-refresh"></i> Reset</a>
                    <a class="btn btn-danger add-customer collapsed" aria-expanded="false" (click)="cancel()">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" *ngIf="!show" @slideIn>
        <div class="col-md-12 table-responsive">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="DataTables_Table_0_length">
                  <label>Show
                    <select name="DataTables_Table_0_length" [(ngModel)]="ddlrolesPerPage" (change)="setrolesPerPage()" aria-controls="DataTables_Table_0"
                      class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div id="DataTables_Table_0_filter" class="pull-right">
                  <label>Search:
                    <input type="search" class="form-control input-sm" placeholder="" #box (keyup.enter)="onEnter(box.value)">
                  </label>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-sm-12 ">
                <table class="table table-bordered table-striped datatable-order dataTable " id="DataTables_Table_0 ">
                  <thead>
                    <tr role="row ">
                      <th style="width: 7px;">#</th>
                      <th class="sorting ">
                        <a class="text-white " [routerLink]="[ '/setting/role']" [queryParams]="sortDir == 'desc' && sortCol =='role' ?{sort:'role', dir:'asc' }:{sort:'role', dir:'desc'} ">Role</a>
                        <i class="{{ sortCol == 'role' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th class="sorting ">
                        <a class="text-white " [routerLink]="[ '/setting/role']" [queryParams]="sortDir == 'desc' && sortCol =='created_at' ?{sort:'created_at', dir:'asc' }:{sort:'created_at', dir:'desc'} ">Created Date</a>
                        <i class="{{ sortCol == 'created_at' && sortDir == 'desc' ? 'fa fa-sort-desc' : 'fa fa-sort-asc'}} pull-right" aria-hidden="true"></i>
                      </th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr role="row " class="odd " *ngFor="let role of roles | paginate: { itemsPerPage: rolesPerPage, currentPage: pageIndex , totalItems: totalRoles}; let i=index ">
                      <td class="sorting_1 ">{{ role.id }}</td>
                      <td>{{role.role}}</td>
                      <td>{{role.created_at | date: 'MMMM d, y'}}
                        <br>
                        <em>
                          <small>
                            Last updated {{ role.updated_at | timeAgo }}
                          </small>
                        </em>
                      </td>
                      <td style="width:12% ">
                        <a href="javascript:void(0) " class="btn btn-xs btn-info btn-circle " (click)="getRoleEdit(role.id) ">
                          <i aria-hidden="true " class="fa fa-pencil "></i>
                        </a>
                        <a class="btn btn-xs btn-danger btn-circle " (click)="deleteRole(role.id) ">
                          <i aria-hidden="true " class="fa fa-trash "></i>
                        </a>
                      </td>
                    </tr>

                  </tbody>
                  <!--   <tfoot class="showSearch ">
                    <tr>
                      <th style="width: 10%; " rowspan="1 " colspan="1 ">#</th>
                      <th class="search " rowspan="1 " colspan="1 ">
                        <input type="text " style="width:162px " class="form-control input-sm " placeholder=" Assign Role ">
                      </th>
                      <th rowspan="1 " colspan="1 ">Created Date</th>
                      <th style="width: 10%; " rowspan="1 " colspan="1 ">Actions</th>
                    </tr>
                  </tfoot> -->
                </table>
                <div class="pull-right ">
                  <pagination-controls (pageChange)="getPage($event) "></pagination-controls>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
